:root{
    --background-color:#DEEDF7;
    --text-color:#293651;
    --accent-color:#B1503E;
    --border-width: 2px;
    --corner-roundness: 8px;
}
@font-face {
    font-family: "Coaster-Simoney";
    src: url("/Assets/coaster-simone-font-1742073987-0/Coaster-Simone-BF6759db02ed0f0.otf");
}
*{
    color: var(--text-color);
    background-color: var(--background-color);
}
a,strong,em{
    color: var(--accent-color);
}
h1,h2,h3,h4,h5{
    font-family: "Coaster-Simoney";
}
.header-bottom{
    width: 100 vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
header{
    border-bottom: dotted var(--border-width);
}
nav{
    flex-grow:1;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
nav li{
    /*border-style: dotted;
    border-width: 0 0 var(--border-width) 0;*/
}
nav a{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    text-decoration: none;
    color:var(--text-color);
    font-family: "Coaster-Simoney";
    font-weight: bold;
}
main{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
main img{
    width: 60vw;
    border-radius: var(--corner-roundness);
}
main p{
    width: 60vw;
    text-align: center;
}
form {
    display: flex;
    flex-direction:column;
    align-items:self-start;
    justify-content:center;
}
footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-top: dotted var(--border-width);
    margin-top: 4vh;
}